@mixin no-border{
  border: none;
  outline: none;
  box-shadow: none;
  border-left: 1px solid transparent;
}
@mixin no-border-focus{
  outline: none;
  box-shadow: none;
  border-left: 1px solid #DDD;
}

.post-form{
  margin-top: 15px;

  .form-control{
    @include no-border;
  }
  .form-control:focus{
    @include no-border-focus;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

.post-blocks{
  textarea, .editor{
    @include no-border;
  }
  textarea:focus, .editor:focus, textarea:focus, .editor:before, .editor:after{
    @include no-border-focus;
  }
}
