.post-form{
  margin-top: 15px;

  .form-control, .form-control:focus{
    border: none;
    outline: none;
    box-shadow: none;
  }
  .form-control:focus{
    color: $main-color;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}
