.posts-tools {
  height: 120px;
  width: 100%;
  border-bottom: 2px solid #EEE;
  margin-bottom: 15px;
  //@include breakpoint(sm) {
  //  height: 100px;
  //}
  //@include breakpoint(md) {
  //  height: 100px;
  //}
  //@include breakpoint(lg) {
  //  height: 100px;
  //}
}
