.hero-image {
  height: 150px;
  width: 100%;
  //background-image: image-url('default-single-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include breakpoint(sm) {
    height: 300px;
  }

  @include breakpoint(md) {
    height: 390px;
  }

  @include breakpoint(lg) {
    height: 460px;
  }
}

.meta {
  @include clearfix;
  @include font-size(12);
  margin-bottom: 0;
  @include breakpoint(sm) {
    @include font-size(16);
  }

  // used on the author page
  .time {
    @include font-size(23);
    float: right;
  }
  .min {
    @include font-size(13);
    float: right;
  }
}

hr {
  display: block;
  width: 20%;
  margin: 50px auto 40px auto;
  border: 1px solid #dededc;
}

blockquote {
  @include font-size(24);
  padding: 0 20px;
}

.pullquote {
  text-align: center;
  @include line-height(48);
  @include font-size(38);
  margin: 50px -5%;
}

.single-content,
.single-content-sidebar {
  padding: 30px 8%;
  @include breakpoint(md) {
    padding: 30px 14% 70px;
  }

  @include breakpoint(lg) {
    padding: 30px 18% 170px;
  }

  h1 {
    letter-spacing: -1pt;
    @include breakpoint(sm) {
      @include font-size(44);
    }
  }
  h2 {
    @include font-size(28);
  }
}

.single-content-sidebar {
  padding: 30px 8%;
  @include breakpoint(md) {
    padding: 30px 0 70px;
  }

  @include breakpoint(lg) {
    padding: 30px 0 170px;
  }
}

.single-content-sidebar-area {
  padding: 30px 15px;
  @include breakpoint(md) {
    padding: 70px 0 0 25px;
  }

  .meta {
    @include clearfix;
    width: 80%;
    @include breakpoint(md) {
      margin-bottom: 200px;
    }
  }
  .user-img {
    width: 20%;
  }
  hr {
    width: 100%;
    margin: 15px auto;
  }
  .similar-post {
    a,
    h3 {
      font-family: $sans;
      font-weight: 700;
      color: #333333;
      @include font-size(20);
    }
  }
  .similar-cat {
    position: relative;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
    h3 {
      font-family: $sans;
      font-weight: 700;
      color: white;
      @include font-size(20);
      position: absolute;
      bottom: 15px;
      right: 15px;
      margin: 0;
    }
  }
}

footer.single {
  padding: 40px 0 0 0;
  background-color: whitesmoke;
  border-top: solid 1px #e9e9e9;
  text-align: center;
  &.without-readmore {
    padding: 40px 0 40px 0;
  }
  @include breakpoint(sm) {
    text-align: left;
  }

  .social {
    text-align: center;
  }
  .social-links {}
  .social-icon {
    margin: 20px 10px;
    display: inline-block;
    color: #cccccc;
    @include font-size(24);
    i {
      font-style: normal;
    }
    &:hover {
      border: none;
    }
  }
  .category-list {
    padding: 30px 0;
    @include breakpoint(sm) {
      border-right: solid 4px #e9e9e9;
      padding: 0;
    }
  }
  img {
    width: 60px;
    height: 60px;
  }
  .user-icon {
    float: none;
    @include breakpoint(sm) {
      float: right;
    }
  }
  p,
  h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $sans;
    @include font-size(14);
    line-height: 30px;
    margin: 0;
    span {
      border-bottom: solid 1px #222222;
    }
  }
  h3 {
    display: inline;
  }
  .other-catergories {
    margin-top: 15px;
  }
  ul {
    display: inline;
    padding: 0;
  }
  ul li {
    list-style: none;
    display: inline;
    font-style: italic;
  }
}

footer.single-page {
  padding: 40px 0;
  text-align: center;
}

.read-another-section {
  margin-top: 40px;
}

footer {
  .read-another-container {
    position: relative;
    text-align: center;
    img {
      width: auto;
      height: auto;
      z-index: 1;
    }
    .overlay {
      position: absolute;
      width: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.6);
      top: 0;
      bottom: 0;
    }
  }
}

.read-another {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
}
