@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Droid+Serif:400,400italic,700);

@import url(http://weloveiconfonts.com/api/?family=entypo);

$sans: "Source Sans Pro", sans-serif;
$serif: "Droid Serif", serif;

$text-color: #333337;
$light-grey: #b6b6b6;
$light-blue: #4761e2;

$base-color: $light-blue;

body,
button,
input,
select,
textarea {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
}

p {
  margin-bottom: 30px;
  font-family: $serif;
  @include font-size(18);
  @include line-height(24);
  @include breakpoint(sm) {
    @include font-size(20);
    @include line-height(28);
}

  @include breakpoint(md) {
    @include font-size(22);
    @include line-height(32);
}
}

a {
  text-decoration: none;
  color: white;
  border-bottom: solid 1px #fafafa;
  &:hover {
    color: #4761e2;
    text-decoration: none;
    @include transition(all, 300ms);
}
}

h1,
h2 {
  font-family: $sans;
  font-weight: 700;
}

h1 {
  @include font-size(38);
}

h2 {
  @include font-size(32);
}

h3 {
  @include font-size(26);
  font-family: $serif;
}

h4 {
  font-family: $serif;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

ul,
ol {
  margin-bottom: 20px;
  padding-left: 20px;
  @include font-size(16);
  li {
    margin: 5px 0;
}
}

[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}
