@import "bootstrap-sprockets";
@import "bootstrap";

@import "compass/css3";
@import "compass/utilities/general/clearfix";

@import "mixins";
@import "type";
@import "animate";
@import "partials/bootstrap-components";

@import "partials/shared";
@import "partials/menu";
@import "partials/sidebar";

@import "partials/main-content";
@import "partials/single";
@import "partials/favorites";
@import "partials/stats";
@import "partials/category";
@import "partials/page-404";

@import "nojs";

.home-container {
  @include breakpoint(only-sm) {
    max-width: 100%;
    width: 100%;
}

  @include breakpoint(md) {
    margin-left: 0;
    padding-left: 0;
}
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.no-gutter-left {
  padding-left: 0;
}

.no-gutter-right {
  padding-right: 0;
}

html {
  font-size: 62.5%;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.bs-example {
  margin-bottom: 20px;
}
