<% if user_signed_in?  %>
  <%= link_to futuro_posts_path, method: :post, class: 'post-create animated fadeInRight', 'data-toggle': 'tooltip', 'data-placement': 'left', title: t('posts.tooltip.create') do%>
    <span class="fa fa-plus"></span>
  <% end %>
<% end %>
