<span class="menu-trigger writer-icon menu-dashboard animated fadeInDown">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</span>

<!-- if the user has javascript disabled they can still use the menu -->
<noscript>
  <div class="no-js-menu no-js-dashboard">
    <ul>
      <li><i class="entypo-home"></i><a href="index.html">Home</a></li>
      <li><i class="entypo-user"></i><a href="#">John Smith</a></li>
      <li><i class="entypo-star"></i><a href="favorites.html">Favorites</a></li>
      <li><i class="entypo-chart-area"></i><a href="dashboard.html">Stats</a></li>
    </ul>
  </div>
</noscript>
<!-- end no script -->