<div id="post_controls" class="panel panel-body">
  <%= link_to futuro_post_blocks_path(@post, block: :text), method: :post, remote: true do %>
      <span class="fa fa-text-width"></span>
  <% end  %>
</div>
