<header class="posts-tools">
  <!-- tools -->
  <%= render 'shared/logo' %>
</header>

<main class="container">
  <div class="row">
    <div class="col-xs-12 single-content">

      <%= render 'form' %>

      <%= render 'shared/footer' %>
    </div>
  </div>
</main>

