<header class="posts-tools">
  <%= render 'shared/logo' %>
  <%= render 'form' %>
</header>

<main class="container">
  <div class="row">
    <div class="col-xs-12">

      <div id="post_blocks"></div>
      <%= render 'block_controls' %>

      <%= render 'shared/footer' %>
    </div>
  </div>
</main>

