<header class="hero-image" role="banner" style="background-image: url(/img/default-single-hero.jpg);">
  <%= render 'inc/burger_menu' %>
  <%= render 'inc/menu' %>
</header>

<main class="container">
  <div class="row">
    <div class="col-xs-12 single-content">

      <%= render 'form' %>

    </div>
  </div>
</main>

<%= render 'footer' %>
