//= require theme/main
//= require devise_bootstrap_views
//= require_self

$nprogress-color: #67307E;
$nprogress-height: 5px;
$nprogress-zindex: 10100;

@import 'nprogress';
@import 'nprogress-bootstrap';
