//= require css/stack-interface
//= require css/socicon.css
//= require css/iconsmind.css
//= require css/bootstrap.css
//= require css/theme.css
//= require css/custom.css
//= require css/font-raleway.css
    
//= require devise_bootstrap_views
//= require nprogress
//= require jquery.fileupload
//= require jquery.fileupload-ui
//= require medium-editor/medium-editor
//= require medium-editor/themes/bootstrap
//= require_self

$nprogress-color: #4761e2;
$nprogress-height: 3px;
$nprogress-zindex: 10100;

@import 'nprogress';
@import 'nprogress-bootstrap';
